[Desktop Entry]
Type=Application
Name=Bacalhau
Comment=Browser-based manuscript editor
Exec=AppRun %f
Terminal=false
Icon=bacalhau
MimeType=application/x-bacalhau;
Categories=Office;TextEditor;
